extends partials/layout.pug

block title
  title Sample

block ogp
  meta(name="twitter:card" content="summary")
  meta(name="twitter:title" content="example.com")

block content
  h1 example.com
  ul
    li
      a(href="/xxx") link1
